#featured {
  img {
    height: 100%;
    object-fit: cover;
    border-radius: 0.25rem;
  }

  .card {
    position: relative;
    overflow: hidden;
    border-radius: 0.25rem;

    &::before {
      content: "";
      background: linear-gradient(180deg, transparet 0%, #020617 100%);
      top: 50%;
      inset: 0;
      position: absolute;
    }
  }
}
